* {
   margin: 0;
   padding: 0; 
}

h1 {
    color: rgb(212, 120, 0);
    text-align: center;
    background-color: darkblue;
    border-radius: 2em;
    padding: 8px;
}

body {
    background-color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 32px;
}

h3 {
    margin: 32px 0px 16px;
}

img {
    width: 300px;
}

li {
    padding: 8px;
    margin: 0px 16px;
}
.img {
    width: 300px;
    margin: 16px auto;
    box-sizing: border-box;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.header {
    font-size: 44px;
    margin: 16px;
    border: 6px rgb(212, 120, 0) solid;
}

.recipelink {
    margin: 0;
    text-align: center;
}
.main, .desert, .side {
    border-color: darkblue;
    border-width: 6px;
    border-radius: 2em;
    padding: 8px;
    margin: 4px 0px;
    
}

.main {
    background-color: rgb(166, 203, 243);
}

.desert {
   background-color: rgb(245, 198, 206);
}

.side {
    background-color: rgb(184, 241, 184);
}

.temp {
    color: red;
    font-weight: 600;
}